html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Rushk';
    src: url('Rushk.otf') format('truetype');
}

@font-face {
    font-family: 'aptos-light';
    src: url('aptos-light.ttf') format('truetype');
}

@font-face {
    font-family: 'TruenoBd';
    src: url('TruenoBd.otf') format('truetype');
}

/* BODY & NAVIGATION STUFF */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #b3ff498e;
}

.body-imgs {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 20rem;
    overflow: hidden;
}

#img-track>.image {
    width: 40vmin;
    height: 56 vmin;
    object-fit: cover;
    object-position: center;
}

#img-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-position: 100% 50%;
}

.container {
    overflow: hidden;
}

.moving-text {
    white-space: normal;
    overflow: hidden;
    animation: marquee 15s linear infinite;
}

.marquee {
    margin: 0 -107%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

.marquee span {
    font-family: 'trueno';
    font-size: 25px;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

.marquee2 span {
    animation-delay: 10s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.video-selector {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#video-container {
    margin-top: 20px;
}

#video-container iframe {
    display: none;
    width: 100%;
    height: 400px;
}

#video-container iframe:first-child {
    display: block;
}



/*HEADER STUFFS*/
header {
    font-family: 'Trueno';
    background: #95ff00;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
}

#body-imgs {
    position: relative;
    z-index: 1;
    height: 40vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    overflow: hidden;
}

#img-track {
    display: flex;
    gap: 2vmin;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-position: 100% 50%;
}

.header-image-small {
    width: 130px;
    height: auto;
    margin-right: 10px;
    margin-bottom: -70px;
}

#main_title {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
    color: transparent;
    background-color: white;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#main_title a {
    color: white;
    text-decoration: none;
}

#main_title:hover {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1);
}


nav {
    font-family: 'aptos-light';
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}

nav a {
    color: #2c2b2b9a;
    text-decoration: none;
    margin: 0 25px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #000000;
}

main {
    padding: 20px;
}

main h2 {
    font-family: 'TruenoBd';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}


/* SECTIONS STUFF */
section {
    margin-bottom: 40px;
}

section h1 {
    font-family: 'Rushk';
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}


/* ARTICLE STUFF */
article {
    font-family: 'aptos-light';
    background-color: #f2f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.404);
    margin-bottom: 10px;
    font-size: 20px;
}

.article-content {
    display: flex;
    align-items: center;
}

.article-image {
    width: 350px;
    height: auto;
    margin-right: 20px;
}

.article-text {
    flex: 1;
}

.link {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: orange;
}


/* EDITOR STUFF */
editor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    background-color: #b3ff4900
}

.editor-section {
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'aptos';
}

.essential {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

edit {
    text-align: center;
}

.button {
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #ff8c00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* FOOTER STUFF */
footer {
    background-image: linear-gradient(to right, #23d400, #094b04);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Trueno';
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-container p {
    margin: 0;
}

.footer-container img {
    width: 100px;
}

#go_top {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

#go_top:hover {
    color: #ffd700;
}